# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

*.o
*.lo
*.deps
*.libs
*.la

Makefile
cjpeg
config.h
config.log
config.status
djpeg
java/Makefile
java/classdist_noinst.stamp
jconfig.h
jcstest
jpegtran
libjpeg.map
libtool
pkgscripts/
rdjpgcom
simd/Makefile
simd/jsimdcfg.inc
stamp-h1
stamp-h2
tjbench
tjbenchtest
tjexampletest
tjunittest
wrjpgcom

.project
.cproject